<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Academy.E2EProject.Listeners"></listener>
</listeners>
  <test thread-count="5" name="LOGIN">
    <classes>
      <class name="Academy.E2EProject.HomePage"/>
      </classes>
      </test>
      <test thread-count="5" name="NAVIGATION BAR">
      <classes>
      <class name="Academy.E2EProject.ValidateNavbar"/>
      </classes>
      </test>
      <test thread-count="5" name="TITLE VADIDATION">
      <classes>
      <class name="Academy.E2EProject.Validatetitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
